.search
  width: 100%

  &:first-child
    margin-top: 0

.color-palette
  display: block

  .swatch
    display: inline-block
    width: 4rem
    height: 4rem
    border-radius: 2rem
    padding: 1rem
    vertical-align: middle
    text-align: center
    margin: 0.5rem
    color: #fff
    font-size: 0.6rem

    &.color0
      background-color: $color0

    &.color1
      background-color: $color1

    &.color2
      background-color: $color2

    &.color3
      background-color: $color3

    &.color4
      background-color: $color4

    &.white
      border: 1px solid $black
      color: $black
      background-color: $white

    &.light-grey
      background-color: $light-grey
      color: $black

    &.grey
      background-color: $grey

    &.dark-grey
      background-color: $dark-grey

    &.black
      border: 1px solid $white
      background-color: $black
      color: $white

input.validation
  &.success
    border: 1px solid $color-positive
  &.fail
    +glow($color-negative)

.fab
  z-index: 1000
  position: fixed
  bottom: $grid-gutter/2
  right: $grid-gutter/2
  background-color: $color1
  width: $fab-size
  height: $fab-size
  padding: $box-padding
  border-radius: $fab-size/2
  text-align: center
  box-shadow: 0 3px 5px 0 $dark-grey
  box-sizing: border-box

  &:hover
    box-shadow: 0 5px 7px 0 $dark-grey
    transform: scale(1.05)

  i
    font-size: $fab-size - 2*$box-padding
    &.fas.fa-plus
      color: #fff

.col-list
  column-count: 2

  p
    margin-bottom: $inner-spacing
