.search
  width: 100%

  &:first-child
    margin-top: 0

.color-palette
  display: block

  .swatch
    display: inline-block
    width: 4rem
    height: 4rem
    border-radius: 2rem
    padding: 1rem
    vertical-align: middle
    text-align: center
    margin: 0.5rem
    color: #fff
    font-size: 0.6rem

    &.color0
      background-color: $color0

    &.color1
      background-color: $color1

    &.color2
      background-color: $color2

    &.color3
      background-color: $color3

    &.color4
      background-color: $color4

    &.white
      border: 1px solid $black
      color: $black
      background-color: $white

    &.light-grey
      background-color: $light-grey
      color: $black

    &.grey
      background-color: $grey

    &.dark-grey
      background-color: $dark-grey

    &.black
      border: 1px solid $white
      background-color: $black
      color: $white

input.validation
  &.success
    border: 1px solid $color-positive
  &.fail
    +glow($color-negative)

//@include box("thumbnail", $grey, $contrast: 25%)
