.cat-item
  background-color: $light-grey

.search-results
  margin-top: $inner-spacing
  display: none
  flex-direction: row
  flex-wrap: wrap
  align-content: flex-start
  justify-content: space-between

  &.active
    display: flex

$th-height-small: 150px
$th-height-med: 200px
$th-height-large: 320px

.search-result-item
  display: inline-block
  position: relative
  align-self: flex-start
  flex-grow: 1
  box-sizing: border-box
  background-size: cover
  height: $th-height-small
  width: 50%

  @media(min-width: #{$screen-med})
    width: 33.33%
    height: $th-height-med

  @media(min-width: #{$screen-large})
    width: 25%
    height: $th-height-large

  .thumbnail-image
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    filter: brightness(0.8) saturate(50%)
    z-index: -1
    border-radius: $card-border-radius
  .thumbnail-label
    background: linear-gradient($black, rgba(0, 0, 0, 0))
    width: 100%
    height: 3.0rem
    color: $white
    text-align: center
    z-index: 1
    border-top-left-radius: $card-border-radius
    border-top-right-radius: $card-border-radius

    @media(min-width: #{$screen-med})
      font-size: 1.5rem
      height: 5.0rem

    @media(min-width: #{$screen-large})
      font-size: 2.0rem
      height: 7.0rem
