.cat-item
  background-color: $light-grey

.search-results
  margin-top: $inner-spacing
  display: none
  flex-direction: row
  flex-wrap: wrap
  align-content: flex-start
  justify-content: space-evenly
  align-items: flex-start

  &.active
    display: flex

$th-height-small: 150px
$th-height-med: 200px
$th-height-large: 320px

.search-result-item
  display: inline-block
  position: relative
  align-self: flex-start
  box-sizing: border-box
  background-size: cover
  //height: $th-height-small
  width: $th-height-small
  height: $th-height-small
  border-radius: $card-border-radius
  margin-bottom: $inner-spacing

  @media(min-width: #{$screen-med})
    width: $th-height-med
    height: $th-height-med

  @media(min-width: #{$screen-large})
    width: $th-height-large
    height: $th-height-large

  .thumbnail-image
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: auto
    filter: brightness(0.8) saturate(50%)
    z-index: -1
    border-radius: $card-border-radius
  .thumbnail-label
    position: absolute
    bottom: 0
    left: 0
    background-color: $white
    //background: linear-gradient(#000, rgba(0, 0, 0, 0))
    width: 100%
    padding: $card-border-radius
    height: 2.5rem
    color: $color-text
    text-align: center
    z-index: 1
    font-size: 0.8rem
    border-bottom-left-radius: $card-border-radius
    border-bottom-right-radius: $card-border-radius

    @media(min-width: #{$screen-med})
      font-size: 1.5rem
      height: 5.0rem

    @media(min-width: #{$screen-large})
      font-size: 2.0rem
      height: 7.0rem
