$tab-menu-item-color: $color1
$tab-menu-item-color-active: $grey

.tab-menu
  padding: $box-padding

  ul.tab-links
    list-style-type: none
    margin-bottom: 0
    display: flex
    justify-content: space-around

    li
      display: inline-block
      flex-grow: 1
      text-align: center
      border-bottom: 2px solid $light-grey
      margin-left: 0

      &:hover
        border-color: $tab-menu-item-color

      &.active
        border-color: $tab-menu-item-color-active
        a
          color: $tab-menu-item-color-active

      a
        text-decoration: none
        text-transform: uppercase
        color: $tab-menu-item-color

  .tab-details
    margin-top: $inner-spacing

  .show-more
    margin-top: 20px
    margin-bottom: 10px
    text-align: center

    a
      color: $grey

  .rest
    display: none

    &.active
      display: flex

.filter-button
  @extend .fill80
  text-align: center

  @media(min-width: 768px)
    width: unset
    margin-left: unset
    margin-right: unset

.box-thumbnail
  margin: 2px
  p
    margin-bottom: 3px

.tag-chip
  @extend .text-micro
  display: inline-block
  border-radius: 4px
  background-color: $light-grey
  color: $dark-grey
  padding: $box-padding
  margin: 6px

.tag-cloud
  margin-top: 12px
