$header-height: 48px
$icon-height: 32px
$header-color: saturate($color2, 5%)
$bottom-offset: 3px

.app-header
  background-color: transparent
  width: 100%
  height: $header-height
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  padding: 0 $box-padding
  box-sizing: border-box
  margin-bottom: $outer-spacing/2

  .logo
    display: inline-block
    height: $icon-height
    width: auto
    // margin-bottom: 3px + $bottom-offset

  .title
    text-align: center
    display: inline-block
    color: $header-color
    margin-bottom: 0
    font-size: 1.2rem
    line-height: 1.2rem
    vertical-align: baseline
    text-transform: uppercase
    letter-spacing: 0.08rem
    -webkit-margin-before: 0
    margin-before: 0

  .header-icons
    display: inline-block
    // margin-bottom: 3px + $bottom-offset

    i
      font-size: $icon-height
      margin-right: 10px
      color: $header-color

      &:last-child
        margin-right: 0
