// Define settings
$font-family-base: "Open Sans", sans-serif
$grid-container: 960px
$grid-gutter: 8px
$light-grey: #ccc
$box-padding: 6px


// Import Hocus-Pocus
@import "../../node_modules/hocus-pocus/hocus-pocus"

@import "components"
@import "header"
@import "dashboard"
