// Screen sizes
$screen-small: 320px
$screen-med: 768px
$screen-large: 1024px

// Define settings
$font-family-base: 'Rubik', 'Verdana', sans-serif
$font-family-headings: 'Questrial', 'Georgia', sans-serif
$grid-container: 1024px
$grid-gutter: 8px
$box-padding: 6px
$btn-flat: true
$inner-spacing: 12px
$outer-spacing: 40px
$card-border-radius: 8px

$font-size-h1: 2.6rem
$font-size-h2: 2rem
$font-size-h3: 1.5rem

$font-weight-light: 300
$font-weight-normal: 400
$font-weight-bold: 700

//Colors
$white: #f7f8f8
$light-grey: #d6dbdb
$grey: #778888
$dark-grey: #515d5d
$black: #2f3737

$color0: #566e7b
$color1: #3ad9d9
$color2: #E4E1D3
$color3: #c24d6c
$color4: #6fca73

$color5: #4DC2C2

// body background color
$color-body: #fff
// ui elements color like rules, borders, form inputs
$color-ui: $grey
// button color without any modifiers
$color-btn: $color1
// base font color
$color-text: $color0
// links color
$color-link: $color5
// blockquote and `.text-muted` color
$color-muted: $grey
// small color
$color-small: $color2
// disabled form input and buttons color
$color-disabled: $light-grey
// brand color
$color-brand: $color1
// positive color
$color-positive: $color4
// negative color
$color-negative: $color3

// Import Hocus-Pocus
@import "../../node_modules/hocus-pocus/hocus-pocus"

@import "overrides"
@import "helpers"
@import "components"
@import "header"
@import "dashboard"
@import "fandom"
@import "peacecircle"
