// Define settings
$font-family-base: 'Rubik', sans-serif
$font-family-headings: 'Varela Round', sans-serif
$grid-container: 960px
$grid-gutter: 8px
$box-padding: 6px
$btn-flat: true

//Colors
$white: #fafafa
$light-grey: #e5e2e1
$grey: #877c78
$dark-grey: #443e3b
$black: #2c2421

$color0: #4B3070
$color1: #ff7644
$color2: #f1619d
$color3: #e94e75
$color4: #18c33d

// body background color
$color-body: #fff
// ui elements color like rules, borders, form inputs
$color-ui: $grey
// button color without any modifiers
$color-btn: $color1
// base font color
$color-text: $color0
// links color
$color-link: $color2
// blockquote and `.text-muted` color
$color-muted: $grey
// small color
$color-small: $color2
// disabled form input and buttons color
$color-disabled: $light-grey
// brand color
$color-brand: $color1
// positive color
$color-positive: $color4
// negative color
$color-negative: $color3

// Import Hocus-Pocus
@import "../../node_modules/hocus-pocus/hocus-pocus"

@import "overrides"
@import "components"
@import "header"
@import "dashboard"
