input[type="text"], input[type="search"]
  border-radius: 1.5rem
  padding: 6px 0.75rem
  border-color: $light-grey
  color: $color0
  outline: none

input[type="button"], input[type="submit"], button, .btn
  font-size: 1.0rem
  border-radius: 1.375rem
  letter-spacing: 0.07rem
  margin: 2px
  outline: none

textarea
  outline: none

blockquote
  border-left: 0
  margin: 8px 6px
  font-style: italic
  color: $white
  background-color: $black
  padding: $box-padding
  border-radius: $box-padding

  &:nth-child(odd)
    background-color: $color1
    text-align: left
    padding-left: 5*$box-padding

  &:nth-child(even)
    background-color: $color2
    text-align: right
    padding-right: 5*$box-padding

.grid-item
  display: block

  @media(min-width: 768px)
    display: inline-block

h1, h2, h3, h4, h5, p
  margin-bottom: 0
