input[type="text"], input[type="search"]
  border-radius: 1.5rem
  padding: 6px 0.75rem
  border-color: $light-grey
  color: $color0
  outline: none

input[type="button"], input[type="submit"], button, .btn
  font-size: 1.0rem
  border-radius: 1.375rem
  letter-spacing: 0.07rem
  margin: 2px
  outline: none

textarea
  outline: none

.grid-item
  display: block

  @media(min-width: $screen-med)
    display: inline-block

h1, h2, h3, h4, h5, p
  margin-bottom: 0
