extends base.pug

block content
  .container
    .section
      select(class="post-type")
        option(value="fic") Fanfiction
        option(value="art") Artwork
        option(value="video") Video
        option(value="topic" selected="selected") Discussion
      
    .section.post-block(id="topic")
      .form-field
        label Topic
        input(type="text")
      .form-field
        label Discussion
        textarea
    
    .section
      .form-field.post
        label Tags
        .tag-cloud
          .tag-chip trigger warning
          .tag-chip nsfw
        input(type="text" placeholder="new tag")
    
    .section
      input(type="submit" class="btn btn-primary submit")
